<!DOCTYPE html>
<html>
<head>
	<title>Fake News Detection</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'about_us.css') }}">
</head>
<body>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">At Fake News Detection, we are dedicated to combating the spread of misinformation and disinformation through accurate reporting and fact-checking.</p>
                        <p class="aboutus-text">We are a team of experts with a diverse range of backgrounds, including journalism, technology, and data analysis. We believe that accurate and reliable information is crucial for a healthy democracy, and we are committed to promoting truth and accountability in the media.</p>
                        <p class="aboutus-text">Our mission is to identify and debunk fake news stories and other forms of disinformation, and to provide the public with the tools and resources they need to make informed decisions about the information they consume.</p>
                        
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Work with heart</h4>
                                    <p>At Fake News Detection, we take our work very seriously, and we approach every task with a deep sense of purpose and commitment. We believe that combating fake news and disinformation is not just a job, but a calling, and we are proud to work with heart every day to make a difference.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>At Fake News Detection, we are committed to providing reliable and accurate services to our users. We understand the importance of trust and credibility in the fight against fake news and disinformation, and we take our responsibility to our users and the public very seriously.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>At Fake News Detection, we understand that our users may have questions or concerns about our services, and we are committed to providing great support to ensure that our users have the best possible experience. our team of experts is always available to answer any questions you may have about our services, and we are dedicated to providing timely and helpful support to ensure that your needs are met.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
